/HealthCareManagementSystem/nbproject/private/
/HealthCareManagementSystem/build/
**/.DS_Store
dist/

*.iml
.idea/
*.db4o


HealthCareManagementSystem/nbproject/private/
HealthCareManagementSystem/build/
HealthCareManagementSystem/nbbuild/
HealthCareManagementSystem/dist/
HealthCareManagementSystem/nbdist/
HealthCareManagementSystem/nbproject/**/**
*nbactions.xml
*nb-configuration.xml
